@use "app/styles/mixins" as *;

.slider {
  margin-bottom: 52px;
  position: relative;
  z-index: 50;
}

.event {
   // min-height: 160px;
}

.eventYear {
  display: inline-block;
  margin-bottom: 15px;
  color: var(--primary-blue);
  font-family: 'Bebas Neue', sans-serif;

  @include responsive-font(16px, 25px);

  line-height: 1.2;
}

.eventDescription {
  @include responsive-font(14px, 20px);

  line-height: 30px;
}

.prevBtn,
.nextBtn {
  background: white;
  color: var(--primary-blue);
  box-shadow: 0 0 10px 0 rgb(34 60 80 / 20%);
  font-size: 22px;
  font-weight: bold;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.prevBtn {
  left: -60px;
}

.nextBtn {
  right: -60px;
}

.prevBtn.navBtnDisabled,
.nextBtn.navBtnDisabled {
  display: none;
}

.divider {
  width: 100%;
  height: 1px;
  background: #C7CDD9;
  margin-bottom: 20px;
}

@include mobile {
  .slider {
    margin-bottom: 0;
  }

  .eventDescription {
    line-height: 1.45;
  }
}

@include tablet {
  .slider {
    margin-bottom: 52px;
  }
}
